<!-- Form team start -->
<form action="/create_team_from_coach" method="post">
<!-- Form team end -->

  <!-- Label and input for school_name start -->
  <div class="form-group">
    <label for="school_name">
      School name
    </label>

    <!-- Input for school_name start -->
    <input type="text" id="school_name" name="school_name" class="form-control" value="<%= @team.school_name %>">
    <!-- Input for school_name end -->
  </div>
  <!-- Label and input for school_name end -->

  <!-- Label and input for school_address start -->
  <div class="form-group">
    <label for="school_address">
      School address
    </label>

    <!-- Input for school_address start -->
    <input type="text" id="school_address" name="school_address" class="form-control" value="<%= @team.school_address %>">
    <!-- Input for school_address end -->
  </div>
  <!-- Label and input for school_address end -->

  <!-- Label and input for coach_id start -->
  <!-- Input for coach_id start -->
  <input type="hidden" name="coach_id" value="<%= @coach.id %>">
  <!-- Input for coach_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create team
  </button>
</form>
