<h1>
  Add a new coach
</h1>


<hr>

<form action="/create_coach" method="post">

  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <input type="text" id="first_name" name="first_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <input type="text" id="last_name" name="last_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="email">
      Email
    </label>

    <input type="text" id="email" name="email" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create coach
  </button>
</form>

<hr>

<a href="/coaches">
  Go back
</a>
