<!-- Form bout start -->
<form action="/create_bout_from_level" method="post">
<!-- Form bout end -->

  <!-- Label and input for level_id start -->
  <!-- Input for level_id start -->
  <input type="hidden" name="level_id" value="<%= @level.id %>">
  <!-- Input for level_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create bout
  </button>
</form>
