<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Bouts

    <a data-toggle="collapse" href="#level_bouts_new_form">
      Add bout
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @level.bouts.each do |bout| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/bouts/<%= bout.id %>">
          <%= bout.level_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_bout_from_level/<%= bout.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="level_bouts_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "level_templates/level_bouts_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
