<form action="/create_bout_from_level" method="post">

  <input type="hidden" name="level_id" value="<%= @level.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create bout
  </button>
</form>
