<h1>
  Edit level #<%= @level.id %>
</h1>

<hr>

<form action="/update_level/<%= @level.id %>" method="post">

  <div class="form-group">
    <label for="stage">
      Stage
    </label>

    <input type="text" id="stage" name="stage" class="form-control" value="<%= @level.stage %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update level
  </button>
</form>

<hr>

<a href="/levels">
  Go back
</a>
