<h1>
  Add a new level
</h1>


<hr>

<form action="/create_level" method="post">

  <div class="form-group">
    <label for="stage">
      Stage
    </label>

    <input type="text" id="stage" name="stage" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create level
  </button>
</form>

<hr>

<a href="/levels">
  Go back
</a>
