<% if @level.present? %>
  <% if @level.errors.any? %>
    <% @level.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new level
</h1>


<hr>

<form action="/create_level" method="post">

  <div class="form-group">
    <label for="stage">
      Stage
    </label>

    <input type="text" id="stage" name="stage" class="form-control" value="<%= @level.stage %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create level
  </button>
</form>

<hr>

<a href="/levels">
  Go back
</a>
