<form action="/create_team_assignment_from_team" method="post">

  <div class="form-group">
    <label for="bout_id">
      Bout
    </label>

    <%= select_tag(:bout_id, options_from_collection_for_select(Bout.all, :id, :level_id, @team_assignment.bout_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="team_id" value="<%= @team.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create team assignment
  </button>
</form>
