<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Team Assignments

    <a data-toggle="collapse" href="#team_team_assignments_new_form">
      Add team assignment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @team.team_assignments.each do |team_assignment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/team_assignments/<%= team_assignment.id %>">
          <%= team_assignment.bout_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_team_assignment_from_team/<%= team_assignment.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="team_team_assignments_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "team_templates/team_team_assignments_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
