<!-- Form team_assignment start -->
<form action="/create_team_assignment_from_bout" method="post">
<!-- Form team_assignment end -->

  <!-- Label and input for bout_id start -->
  <!-- Input for bout_id start -->
  <input type="hidden" name="bout_id" value="<%= @bout.id %>">
  <!-- Input for bout_id end -->

  <!-- Label and input for team_id start -->
  <div class="form-group">
    <label for="team_id">
      Team
    </label>

    <!-- Input for team_id start -->
    <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :school_name, @team_assignment.team_id), :class => "form-control") %>
    <!-- Input for team_id end -->
  </div>
  <!-- Label and input for team_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create team assignment
  </button>
</form>
