<form action="/create_team_assignment_from_bout" method="post">

  <input type="hidden" name="bout_id" value="<%= @bout.id %>">

  <div class="form-group">
    <label for="team_id">
      Team
    </label>

    <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :school_name, @team_assignment.team_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create team assignment
  </button>
</form>
