<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Team Assignments

    <a data-toggle="collapse" href="#bout_team_assignments_new_form">
      Add team assignment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @bout.team_assignments.each do |team_assignment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/team_assignments/<%= team_assignment.id %>">
          <%= team_assignment.bout_id %>
        </a>

        <a href="/delete_team_assignment_from_bout/<%= team_assignment.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="bout_team_assignments_new_form">
        <%= render partial: "bout_templates/bout_team_assignments_new_form" %>
      </div>
    </div>

  </ul>
</div>
