<h1>
  Edit bout #<%= @bout.id %>
</h1>

<hr>

<!-- Form bout start -->
<form action="/update_bout/<%= @bout.id %>" method="post">
<!-- Form bout end -->

  <!-- Label and input for level_id start -->
  <div class="form-group">
    <label for="level_id">
      Level
    </label>

    <!-- Input for level_id start -->
    <%= select_tag(:level_id, options_from_collection_for_select(Level.all, :id, :stage, @bout.level_id), :class => "form-control") %>
    <!-- Input for level_id end -->
  </div>
  <!-- Label and input for level_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update bout
  </button>
</form>

<hr>

<a href="/bouts">
  Go back
</a>
