<h1>
  Add a new bout
</h1>


<hr>

<!-- Form bout start -->
<form action="/create_bout" method="post">
<!-- Form bout end -->

  <!-- Label and input for level_id start -->
  <div class="form-group">
    <label for="level_id">
      Level
    </label>

    <!-- Input for level_id start -->
    <input type="text" id="level_id" name="level_id" class="form-control">
    <!-- Input for level_id end -->
  </div>
  <!-- Label and input for level_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create bout
  </button>
</form>

<hr>

<a href="/bouts">
  Go back
</a>
